
module mgmt_perms 1.0;

require {
        type nsd_conf_t;
        type httpd_config_t;
        type admin_home_t;
        type default_t;
        type init_t;
        class file { create ioctl open read rename unlink write execute execute_no_trans lock setattr };
        class lnk_file { read write open ioctl lock };
        class dir add_name;
}

#============= init_t ==============

allow init_t httpd_config_t:file { open write create };
allow init_t nsd_conf_t:file { open write create read lock setattr unlink ioctl };
allow init_t default_t:file { read write open ioctl lock create setattr unlink };
allow init_t admin_home_t:file { create ioctl open read rename unlink execute execute_no_trans write lock setattr };
allow init_t default_t:lnk_file { read write open ioctl lock };
allow init_t nsd_conf_t:dir add_name;
allow init_t httpd_config_t:dir add_name;

