module munin_perms 1.0;

require {
        type system_munin_plugin_t;
        type mail_munin_plugin_t;
        class netlink_generic_socket { create bind setopt };
        class unix_dgram_socket { create bind setopt };
}

#============= system_munin_plugin_t ==============
allow system_munin_plugin_t self:netlink_generic_socket { create bind setopt };
allow mail_munin_plugin_t self:unix_dgram_socket { create bind setopt };